<div class="main">
    <mat-stepper [linear]="isLinear" #stepper (selectionChange)="onStepChange($event)" [selectedIndex]="selectedIndex">
        <mat-step label="sign-up" [stepControl]="signUp.formGroup">
            <app-sign-up #signUp></app-sign-up>
        </mat-step>
        <mat-step label="personal infomation" [stepControl]="personalInfo.formGroup">
            <app-personal-infomation #personalInfo></app-personal-infomation>
        </mat-step>
        <mat-step label="education infomation" [stepControl]="educationInfo.formGroup">
            <app-education-infomation (resetStepper)="stepper.reset()" #educationInfo></app-education-infomation>
        </mat-step>
    </mat-stepper>
</div>